<header class="shadow-sm" style="background-color: var(--fractaw-card-bg); border-bottom: 1px solid rgba(255,255,255,0.05);">
    <nav class="navbar navbar-expand-lg navbar-dark container-fluid px-4 py-3">
        <a class="navbar-brand fw-bold fs-4 text-primary-custom" href="/">
            <i class="bi bi-columns-gap"></i></i> Fractaw <span class="fw-light text-white">Modules</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navFractaw">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navFractaw">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 row-gap-2">
                <li class="nav-item"><a class="nav-link px-3" href="/vendas/"><i class="bi bi-cart me-1"></i> Vendas</a>
                </li>
                <li class="nav-item"><a class="nav-link px-3" href="/estoque/"><i class="bi bi-boxes me-1"></i>
                        Estoque</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="/logisticas/"><i class="bi bi-truck me-1"></i>
                        Logística</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="/whatsapp/"><i class="bi bi-whatsapp me-1"></i>
                        WhatsApp</a></li>
            </ul>
        </div>
    </nav>
</header>